body{
    background-color: rgba(78, 87, 80, 0.466);
}
header {
    border-bottom: 2px solid rgb(6, 83, 10);
    text-align: center;
    display: flex;
    justify-content: space-between;
}
h1 {
    text-align: center;
}
nav{
    flex-direction: row;
    border-radius: 30%;
}
nav li{
    margin-left: 30px;
    margin-top: 20%;
    border-radius: 40%;
    display: inline-block;
    padding: 20px;
    background-color: rgb(106, 40, 168);
}
nav li a {
    color: white;
    text-decoration: none;
    padding: 20px;
}
.foto {
    flex-direction: row;
}
.foto img {
    width: 300px;
    border-radius: 100%;
}
main {
    display: flex;
}
article {
    width: 50%;
    border-right: 1px solid gray;
}
article h2 {
    text-align: center;
    color: rgb(106, 40, 168);
}
article p {
    text-align: center;
    max-width: 90%;
    color: rgb(34, 7, 59);
    line-height: 20px;
    font-size: 20px;
}
.habilidades h2 {
    text-align: center;
    color: green;
}
.habilidades li {
    list-style: none;
    margin-top: 10px;
}
.lista-habilidades {
    color: rgb(3, 53, 3);
    font-size: 18px;
}
footer{
    margin-top: 40px;
    justify-content: space-around;
    display: flex;
}
footer a {
    border-radius: 50%;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 30px;
    background-color: rgb(106, 40, 168);
}
footer a:hover {
    background-color: rgb(20, 20, 20);
    color: green;
    transition: 0.4s;
}
nav li:hover{
    background-color: rgb(20, 20, 20);
    transition: 0.4s;
}
nav li a:hover {
    color: green;
    transition: 0.4s;
}